/*

[Megjegyzés: ez a rész inkább illene egy általános stylesheetbe]

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: "PT Serif", serif;
}


html {
    height: 100%;
}

body {
    background-image: linear-gradient(180deg, rgb(32, 4, 4), rgb(48, 27, 7));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
*/

.navbar {
    height: 120px;
    width: 100%;

    margin-bottom: 100px;

    background-image: linear-gradient(180deg, rgb(96, 209, 145) 0%, rgb(49, 146, 91) 50.52%, rgb(22, 92, 71) 53.12%, rgb(10, 55, 42) 100%);

    border-radius: 0 0 20% 20%;

    filter: drop-shadow(0px 10px 10px black);
}

.navbar .logic {
    display: flex;
    justify-content: space-evenly;
}

.navbar .logic .navlink {
    height: 100px;
    width: 240px;
    font-size: x-large;
    color: white;
    text-align: center;
    align-content: center;
    text-decoration: none;

    display: block;
}

.navbar .logic .navlink p {
    text-align: center;
    border-bottom: 3px dotted white;
    filter: drop-shadow(0px 1px 2px rgb(0, 0, 0));
    border-radius: 100%;
    margin-top: 20px;
    padding-bottom: 5px;
    transition-duration: 0.15s;
}

.navbar .logic .navlink p:hover {
    border-bottom: 3px solid rgb(172, 240, 194);
    filter: drop-shadow(0px 2px 4px rgb(0, 0, 0));
    margin-bottom: -10px;
    color: rgb(172, 240, 194);
    font-size: xx-large;
}

.navbar .logic .logo {
    background-image: linear-gradient(180deg, rgb(96, 209, 145) 0%, rgb(49, 146, 91) 50.52%, rgb(22, 92, 71) 53.12%, rgb(10, 55, 42) 100%);

    border-radius: 0 0 65px 65px;

    filter: drop-shadow(0px 0px 6px black);

    padding: 20px 40px;

    width: 128px;
    height: 128px;
    transition-duration: 0.15s;
}

.navbar .logic .logo:hover {
    filter: drop-shadow(0px 4px 10px black);
    transform: scale(1.025);
}

.navbar .logic .logo img {
    width: 128px;
    border-radius: 100%;
    margin: auto;
    filter: drop-shadow(0px 10px 10px black);
}

@media (max-width: 950px) {
    .navbar .logic .navlink p {
        border-bottom: none;
    }
    
    .navbar .logic .navlink p:hover {
        border-bottom: none;
    }
}

@media (max-width: 750px) {
    .navbar .logic .navlink {
        display: none;
    }
}
